@font-face {
    font-family: 'SourceHanSansJP-VF';
    src: url('../font/SourceHanSansJP-VF.otf') format('opentype');
}

@font-face {
    font-family: 'SourceHanSans-VF';
    src: url('../font/SourceHanSans-VF.otf') format('opentype');
}

.text {
  font-size: 48px;
  font-family: "SourceHanSansJP-VF";
  /* font-family: "SourceHanSans-VF"; */
  font-variation-settings: "wght" 400, "wdth" 50, "GRAD" 1;
  animation: width-animation 1s ease infinite alternate;
  text-align: center;
}

.text::before {
    content: "こんにちは世界";
    animation: change-letter-jp 3s linear infinite alternate;
    -webkit-animation: change-letter-jp 3s linear infinite alternate;
    -moz-animation: change-letter-jp 3s linear infinite alternate;
    -ms-animation: change-letter-jp 3s linear infinite alternate;
    -o-animation: change-letter-jp 3s linear infinite alternate;
}
.text::after {
    content: "Hello World";
    animation: change-letter-en 3s linear infinite alternate;
    -webkit-animation: change-letter-en 3s linear infinite alternate;
    -moz-animation: change-letter-en 3s linear infinite alternate;
    -ms-animation: change-letter-en 3s linear infinite alternate;
    -o-animation: change-letter-en 3s linear infinite alternate;
}

@keyframes change-letter-jp {
    0% {
        content: "こ　　　　　　";
    }
    10% {
        content: "こん　　　　　";
    }
    20% {
        content: "こんに　　　　";
    }
    30% {
        content: "こんにち　　　";
    }
    40% {
        content: "こんにちは　　";
    }
    50% {
       content: "こんにちは世　";
    }
    60% {
       content: "こんにちは世界";
    }
    100% {
       content: "こんにちは世界";
    }
}

@-webkit-keyframes change-letter-jp {
    0% {
        content: "こ　　　　　　";
    }
    10% {
        content: "こん　　　　　";
    }
    20% {
        content: "こんに　　　　";
    }
    30% {
        content: "こんにち　　　";
    }
    40% {
        content: "こんにちは　　";
    }
    50% {
       content: "こんにちは世　";
    }
    60% {
       content: "こんにちは世界";
    }
    100% {
       content: "こんにちは世界";
    }
}

@-ms-keyframes change-letter-jp {
    0% {
        content: "こ　　　　　　";
    }
    10% {
        content: "こん　　　　　";
    }
    20% {
        content: "こんに　　　　";
    }
    30% {
        content: "こんにち　　　";
    }
    40% {
        content: "こんにちは　　";
    }
    50% {
       content: "こんにちは世　";
    }
    60% {
       content: "こんにちは世界";
    }
    100% {
       content: "こんにちは世界";
    }
}


@keyframes change-letter-en {
    0% {
        content: "H";
    }
    10% {
        content: "He";
    }
    20% {
        content: "Hel";
    }
    30% {
        content: "Hell";
    }
    40% {
        content: "Hello";
    }
    50% {
       content: "Hello W";
    }
    60% {
       content: "Hello Wo";
    }
    70% {
       content: "Hello Wor";
    }
    80% {
       content: "Hello Worl";
    }
    90% {
       content: "Hello World";
    }
    100% {
       content: "Hello World";
    }
}

@-webkit-keyframes change-letter-en {
    0% {
        content: "H";
    }
    10% {
        content: "He";
    }
    20% {
        content: "Hel";
    }
    30% {
        content: "Hell";
    }
    40% {
        content: "Hello";
    }
    50% {
       content: "Hello W";
    }
    60% {
       content: "Hello Wo";
    }
    70% {
       content: "Hello Wor";
    }
    80% {
       content: "Hello Worl";
    }
    90% {
       content: "Hello World";
    }
    100% {
       content: "Hello World";
    }
}

@-ms-keyframes change-letter-en {
    0% {
        content: "H";
    }
    10% {
        content: "He";
    }
    20% {
        content: "Hel";
    }
    30% {
        content: "Hell";
    }
    40% {
        content: "Hello";
    }
    50% {
       content: "Hello W";
    }
    60% {
       content: "Hello Wo";
    }
    70% {
       content: "Hello Wor";
    }
    80% {
       content: "Hello Worl";
    }
    90% {
       content: "Hello World";
    }
    100% {
       content: "Hello World";
    }
}

@-moz-keyframes change-letter-en {
    0% {
        content: "H";
    }
    10% {
        content: "He";
    }
    20% {
        content: "Hel";
    }
    30% {
        content: "Hell";
    }
    40% {
        content: "Hello";
    }
    50% {
       content: "Hello W";
    }
    60% {
       content: "Hello Wo";
    }
    70% {
       content: "Hello Wor";
    }
    80% {
       content: "Hello Worl";
    }
    90% {
       content: "Hello World";
    }
    100% {
       content: "Hello World";
    }
}

@-o-keyframes change-letter-en {
    0% {
        content: "H";
    }
    10% {
        content: "He";
    }
    20% {
        content: "Hel";
    }
    30% {
        content: "Hell";
    }
    40% {
        content: "Hello";
    }
    50% {
       content: "Hello W";
    }
    60% {
       content: "Hello Wo";
    }
    70% {
       content: "Hello Wor";
    }
    80% {
       content: "Hello Worl";
    }
    90% {
       content: "Hello World";
    }
    100% {
       content: "Hello World";
    }
}

@keyframes width-animation {
  0% {
      /* color: #000000; */
      font-variation-settings: "wght" 250, "wdth" 50, "slnt" 0, "GRAD" 1;
    }
  50%   {
      /* color: #aa0000; */
      font-variation-settings: "wght" 900, "wdth" 151, "slnt" -12, "GRAD" 1;
    }
  100%   {
      /* color: #99aa00; */
      font-variation-settings: "wght" 250, "wdth" 151, "slnt" 0, "GRAD" 1;
    }
}

@-webkit-keyframes width-animation {
  0% {
      /* color: #000000; */
      font-variation-settings: "wght" 250, "wdth" 50, "slnt" 0, "GRAD" 1;
    }
  50%   {
      /* color: #aa0000; */
      font-variation-settings: "wght" 900, "wdth" 151, "slnt" -12, "GRAD" 1;
    }
  100%   {
      /* color: #99aa00; */
      font-variation-settings: "wght" 250, "wdth" 151, "slnt" 0, "GRAD" 1;
    }
}

@-ms-keyframes width-animation {
  0% {
      /* color: #000000; */
      font-variation-settings: "wght" 250, "wdth" 50, "slnt" 0, "GRAD" 1;
    }
  50%   {
      /* color: #aa0000; */
      font-variation-settings: "wght" 900, "wdth" 151, "slnt" -12, "GRAD" 1;
    }
  100%   {
      /* color: #99aa00; */
      font-variation-settings: "wght" 250, "wdth" 151, "slnt" 0, "GRAD" 1;
    }
}

@-o-keyframes width-animation {
  0% {
      /* color: #000000; */
      font-variation-settings: "wght" 250, "wdth" 50, "slnt" 0, "GRAD" 1;
    }
  50%   {
      /* color: #aa0000; */
      font-variation-settings: "wght" 900, "wdth" 151, "slnt" -12, "GRAD" 1;
    }
  100%   {
      /* color: #99aa00; */
      font-variation-settings: "wght" 250, "wdth" 151, "slnt" 0, "GRAD" 1;
    }
}